In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('../../Data/Taxi Data/FHV_18/fhv_tripdata_2018-01.csv')

In [4]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2018-01-01 00:18:50,2018-01-01 00:24:39,N,1,236,236,5,0.70,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1.0
1,2,2018-01-01 00:30:26,2018-01-01 00:46:42,N,1,43,42,5,3.50,14.5,0.5,0.5,0.00,0.0,NaN,0.3,15.80,2,1.0
2,2,2018-01-01 00:07:25,2018-01-01 00:19:45,N,1,74,152,1,2.14,10.0,0.5,0.5,0.00,0.0,NaN,0.3,11.30,2,1.0
3,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,-3.0,-0.5,-0.5,0.00,0.0,NaN,-0.3,-4.30,3,1.0
4,2,2018-01-01 00:32:40,2018-01-01 00:33:41,N,1,255,255,1,0.03,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793524,2,2018-01-31 23:42:10,2018-01-31 23:43:24,N,1,120,243,1,0.51,3.5,0.5,0.5,0.00,0.0,NaN,0.3,4.80,2,1.0
793525,2,2018-02-01 00:00:48,2018-02-01 00:08:11,N,1,41,116,1,1.46,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2,1.0
793526,2,2018-01-31 23:19:43,2018-01-31 23:23:41,N,1,41,42,1,1.04,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0
793527,2,2018-01-31 23:57:59,2018-02-01 00:01:50,N,1,42,41,1,0.91,5.5,0.5,0.5,0.01,0.0,NaN,0.3,6.81,1,1.0
793528,2,2018-01-31 23:30:45,2018-01-31 23:37:10,N,1,193,7,2,0.00,0.0,0.0,0.0,0.00,0.0,NaN,0.0,0.00,2,1.0

In [3]:
df_start=df[['PUlocationID']]

KeyError: "None of [Index(['PUlocationID'], dtype='object')] are in the [columns]"

In [ ]:
df_end=df[['DOlocationID']]

In [ ]:
df_start2=df_start['PUlocationID'].value_counts()

In [ ]:
df_end2=df_end['DOlocationID'].value_counts()

In [ ]:
group_start_df = df_start2.to_frame()

In [ ]:
group_end_df = df_end2.to_frame()

In [ ]:
group_start=group_start_df.rename(columns={"PUlocationID": "pickup_count_count"})

In [ ]:
group_end=group_end_df.rename(columns={"DOlocationID": "dropoff_count"})

group_end['LocationID'] = group_end.index

In [ ]:
group_start['LocationID'] = group_start.index

In [ ]:
group_end = pd.DataFrame(group_end,columns=['dropoff_count'])

In [ ]:
group_end['LocationID'] = group_end.index

In [ ]:
merge=group_start.merge(group_end, how='left', on='LocationID')

In [ ]:
merge.to_csv('../../Data/fhv_tripdata_2018-01-processed.csv')

read=pd.read_csv('../../Data/fhv_tripdata_2018-02-processed.csv')